/* globals*/
$navFontSize: 19px;
$solidBlue: rgb(17, 64, 79);


/* General tags*/
html{
    width:100%;
    height:100%;
    -webkit-box-sizzing:border-box;
    -ms-box-sizzing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

* {
  -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin:0;
    padding: 0;
}



nav {
    width: 100%;
    position: fixed;
    z-index: 120;
    background-color: rgb(17, 64, 79, .4);
}

footer {
    position: relative;
    bottom: 0;
    margin-top: 300px;
    color: white;
    background-color: $solidBlue;
    width: 100%;

    p {
        padding: 5px;
    }
  }





/* utilities*/
.floatRight {
    float: right;
}

.navColorFadeIn {
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    background-color: $solidBlue
}

.navColorFadeOut {
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
    background-color: rgb(17, 64, 79, .4);
}

.roundImage {
    border-radius: 50%;
    width: 250px;
}

/* Class based driver*/

/* Nav */
.desktopNav {
    display: block;
}
.mobileNav {
    display: none;
}
.navContainer {
    display: inline-block;
    list-style: none;
    padding: 30px;

    a {
        color: white;
        text-decoration: none;
        font-size: $navFontSize;
    }
}

.navContainer:hover {
    cursor: pointer;
    background-color: gray;
}



/* hero banner */

.heroContainer {
    height: 660px;
    background-image: url('assets/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 5;
    position: relative;
}
.heroTitle {
    padding-top: 210px;
    color: white;
    font-size: 62px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.heroFormContainer {
    margin-top: 10px;
    display: inline-block;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 400px;
  }
  
.heroForm {
    color: #555;
    display: flex;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 0 30px;
  }
  
.heroSearch {
    border: none;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    width: 400px;
  }
  
.heroSearch::placeholder {
    color: #bbb;
  }
  
.heroSubmit {
    text-indent: -999px;
    overflow: hidden;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid transparent;
    border-radius: inherit;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
    cursor: pointer;
    opacity: 0.7;
  }
  
  .heroSubmit:hover {
    opacity: 1;
  }
  
  .heroSubmit:focus,
  .heroSearch:focus {
    box-shadow: 0 0 3px 0 #1183d6;
    border-color: #116;
    outline: none;
  }

  .recentSearch {
    display: none;
    top: 0;
    max-width: 500px;
    vertical-align: middle;
    max-width: 700px !important;
    max-height: 35px;
    white-space: nowrap;
    float: left;

  }


  
  .heroLabel {
    float: left;
    color: white;
    font-size: 28px;
  }

  /* chip for hero search */

  .chip {
    display: inline-block;
    padding: 5px;
    margin-left: 5px;
    font-size: 18px;
    border-radius: 25px;
    background-color: rgba(17, 17, 102, 0.299);
    vertical-align: middle;
    text-align: left;
  }

  #chipContent, #chipContent2 {
    color: white;
  }
  
  .closebtn {
    padding-left: 8px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 20px;
    cursor: pointer;
  }
  
  .closebtn:hover {
    color: #000;
  }

  /* About section */

  .aboutContainer {
    background: rgb(148, 196, 228, .3);
    padding: 200px 0;
    transform: (skew(0deg, 10deg));
    z-index: 1;
    display: block;
    
    .unskew{
      transform: (skew(0deg, -10deg));
      text-align: center;
      
      .title{
        font-size: 62px;
        font-weight: normal;
        text-decoration: underline;
      }
      
      .text{
        width:60%;
        margin: 25px auto;      
        color: lighten(black, 55);
      }

      .aboutMeBtn {
        background-color: #fffbfb;
        color:#116;
        width: 80px;
        height: 35px;
        border-radius: 5px;
        border: none;
        padding: 2px;
        font-size: 24px;
      }

      .aboutGridContainer {
        padding-top: 30px;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(auto-fit, 400px);
        justify-content: space-evenly;
        align-items: center;
      }
      .aboutGridItem {
        width: 400px;
        height: 400px;
      }
      .aboutMeBtn:hover {
        cursor: pointer;
        background-color: #116;
        color: white;
      }

      .aboutList {
        list-style: none;
        font-size: 32px;

        li {
            padding: 13px;
        }
      }
      
    } 
  }

  .projectsContainer {
    text-align: center;
    margin-top: 90px;
  }

  .projectTitle {
    font-size: 62px;
    font-weight: normal;
  }

  .cardContainer {
    padding-top: 30px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: space-evenly;

    .flip-card {
        background-color: transparent;
        width: 400px;
        height: 300px;
        perspective: 1000px;
        margin-top: 15px;
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
      
      .flip-card-front {
        background: rgba(17, 64, 79, 0.843);
        text-align: center;
      }
      
      .flip-card-back {
        background-color: #f3f0f0;
        color: $solidBlue;
        transform: rotateY(180deg);
        text-align: center;
        padding: 17px;

        p {
            text-align: left;
            color: $solidBlue;
        }
      }

      .cardTitle {
        margin-top: 30px;
        color: rgb(222, 220, 220);
      }

      .cardTitleBack {
        text-align: center;
        color: $solidBlue;
      }

      .sourceBtn {
        background-color: #fffbfb;
        color:#116;
        width: 80px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid $solidBlue;
        padding: 2px;
        position: relative;
        bottom: 0;
      }
      .sourceBtn:hover {
        cursor: pointer;
        background-color: $solidBlue;
        color: white;
      }

      ul {
        list-style-type: none;
        color: rgb(222, 220, 220);
      }
  }